*, *::before, *::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #090909;
  color: #ffffffb8;
  transition: color .3s ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffffb8;
}

.empty_icon {
  background-image: url('');
  background-repeat: no-repeat;
  width: 20px;
  height: 17px;
}

.selector_icon {
  background-image: url('./icons/triangle\ 2.svg');
  background-repeat: no-repeat;
  width: 10px;
  height: 5px;
}

.icon_home {
  background-image: url('./icons/home_active.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 17px;
}

input {
  font-family: "Montserrat", sans-serif;
}

/* ------------------------- */

.App {
  width: 1280px;
  margin: 0 auto;
}

.app_menu {
  position: fixed;
  left: 0;
  border-right: 1px solid #000;
}

.menu_login {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 250px;
  height: 46px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 16px;
  user-select: none;
}
.menu_login:hover {
  color: #fff;
  transition: color .2s ease;
  background-color: #1b1b1b;
}

.manu_nav {}

.manu_nav_item {
  width: 256px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 15px;
  cursor: pointer;
}

.manu_nav_item.active {
  color: #1F75FE;
}

/* ------------------------- */

.authorisation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.auth_container {
  display: flex;
  flex-direction: column;
  text-align: center;

  border: 1px solid #fff;
  padding: 20px;
  border-radius: 8px;
}
.auth_container_input {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
}
.auth_container_input input {
  margin: 0 0 50px;
  height: 30px;
}
.auth_login_button {
  /* width: 60px; */
  padding: 0 10px;
  height: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.change_form_to_login {
  background-color: transparent;
  border: none;
  color: #333488;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 4px;
}
.auth-container {
  display: flex;
  font-size: 11px;
  align-items: center;
  margin-top: 20px;
}
.bad_flag {
  width: 200px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  background-color: rgb(198, 27, 27);
  color: #000;
  border-radius: 5px;
  transform: scale(0);
  transition: transform .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.bad_flag h1 {
  font-size: 14px;
}
.bad_flag.active {
  transform: scale(1);
  transition: transform .2s ease;
}


.flag_container {
  display: flex;
  justify-content: center;
}

.flag {
  width: 200px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  background-color: rgb(28, 227, 118);
  color: #000;
  border-radius: 5px;
  transform: scale(0);
  transition: transform .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag h1 {
  font-size: 14px;
}
.flag.active {
  transform: scale(1);
  transition: transform .2s ease;
}

.logout_button {
  border: none;
  padding: 3px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #363636;
  color: #FFF;
}
.logout_button:hover {
  background-color: #4e4e4e;
}